body{
    background-color: #EAF6F6;
}

h1,h3{
    color: #66BFBF;
}

h3:hover{
    color:orange;
    text-decoration: underline;
}

p{
    margin: 1px;
}

hr{
    background-color: white;
    height: 3px;
    border-style: none;    
}